
._EightWay.lcb
OLD/._8wayStick-01.svg
OLD/._8wayStick-paths.txt
OLD/._8wayStick.ai
OLD/._8wayStickOrig.ai
OLD/._api.lcdoc
OLD/._Circle-of-fifths.jpg
OLD/._EightWay.lcb~0.1
OLD/._Unknown.png
support/._defaultscript.livecodescript
